# Développeurs cairn
Ibrahima Diallo <ibrahima.diallo@cairn.info> ibrahima <ibrahima.diallo@cairn.info>
Jérémy Liessi <jeremy.liessi@cairn.info> Jeremy Liessi <jeremy.liessi@cairn.info>
Serge Kilimoff-Goriatchkine <serge.kilimoff@cairn.info> Kilimoff-Goriatchkine Serge <serge.kilimoff@cairn.info>
Serge Kilimoff-Goriatchkine <serge.kilimoff@cairn.info> Serge Kilimoff-Goriatchkine <serge.kilimoff@gmail.com>
Dimitry Berte <dimitry.berte@cairn.info> dimitry <dimitry@anadiplose.cairn>

# Développeurs pythagoria
Benjamin Hennon <benjamin.hennon@pythagoria.com> ben <ben@127.0.53.53>
Benjamin Hennon <benjamin.hennon@pythagoria.com> ben <ben@localhost>
Benjamin Hennon <benjamin.hennon@pythagoria.com> benjamin <benjamin@linux-joaz.fritz.box>
Pierre-Yves Thomas <pierreyves.thomas@pythagoria.com> pyt <pyt@linux-k51e-2.fritz.box>
Pierre-Yves Thomas <pierreyves.thomas@pythagoria.com> pyt <pyt@linux-k51e.fritz.box>
Pierre-Yves Thomas <pierreyves.thomas@pythagoria.com> pyt <pyt@linux-d8ot.fritz.box>
Pierre-Yves Thomas <pierreyves.thomas@pythagoria.com> pyt <pyt@localhost>
Miguel Pythagoria <miguel@pythagoria.com> miguel <miguel@linux-2n5f.fritz.box>
Miguel Pythagoria <miguel@pythagoria.com> miguel <miguel@linux-ygz3.fritz.box>
